* {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  background-color: #283618;
  color: #dda15e;
  border: 2px solid orange;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

/* logo text */
h2 {
  border: 3px solid #bc6c25;
  padding: 4px;
}

.navbar {
  color: #dda15e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 15%;
  min-height: 70px;
  padding: 10px;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

a {
  color: #dda15e;
  text-decoration: none;
  padding: 2px;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 200px;
  min-height: 75vh;
  color: #dda15e;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  text-decoration: underline;
  text-decoration-color: #bc6c25;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 26px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.5);
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

/* home page arrow icon  */
#hero-page-arrow-down {
  position: absolute;
  top: 75%;
  left: 45%;
  font-size: 6rem;
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-bottom: 75px;
}

img {
  max-width: 80%;
  height: auto;
  border: 8px solid #dda15e;
}

/*about page css*/
.heading {
  display: flex;
  justify-content: center;
  color: #606c38;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.about-page-container {
  display: flex;
  justify-content: center;
}

.kristen-image {
  border: 8px solid #bc6c25;
}

.about-me-paragraph {
  border: 8px solid #283618;
  color: #fff;
  background-color: #bc6c25;
  padding: 100px 10px;
  text-align: center;
  width: 50%;
  height: 50%;
  position: relative;
  top: 75px;
  left: -100px;
  font-family: "Quicksand", sans-serif;
}

.accordian-item {
  font-size: 10px;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  background-color: #606c38;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}

.accordian-link {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  background-color: #606c38;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordian-link i {
  color: #dda15e;
  width: 25px;
  height: 25px;
  padding: 0.5rem;
}

.answer {
  max-height: 0;
  color: #fff;
  color: #fff;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
}

.answer p {
  color: #fff;
  font-size: 1rem;
  padding: 2px;
  font-family: "Quicksand", sans-serif;
}

.accordian-item:target .answer {
  max-height: 20rem;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*Contact Page*/
.contact {
  display: flex;
  color: #dda15e;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  background: #606c38;
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.form-container {
  padding: 20px;
  box-sizing: border-box;
}

.form-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-form {
  display: grid;
  row-gap: 1rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  padding: 10px;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form .send-button {
  border: none;
  outline: none;
  background: #dda15e;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-form .send-button:hover {
  transition: 0.3s all linear;
  background: #bc6c25;
}


.map iframe {
  width: 100%;
  height: 100%;
}

/* Footer css*/

footer {
  color: #dda15e;
  background-color: #283618;
}

.f-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.f-grid-item {
  display: flex;
  justify-content: center;
  color: #606c38;
  padding-top: 15px;
  font-size: 7rem;
}

/* second footer column*/
.f-grid-item-2 {
  text-align: center;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.text {
  color: #fff;
}

.copyright {
  color: #dda15e;
  background-color: #283618;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* @ MEDIA QUERIES */

@media (max-width: 834px){
  .menu {
    padding: 5px;
  }
}

@media (max-width: 964px) {
  .contact-container {
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 700px) {
  .contact-container {
    grid-template-columns: 1fr;
    padding-right: 10px;
    gap: 1rem;
  }
  .map iframe {
    height: 400px;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .hero {
    min-height: 40%;
  }
  .video-bg {
    min-height: 50%;
  }
  .about-me-paragraph {
    min-height: 50%;
    padding: 30px;
  }
  .menu {
    font-size: small;
  }

  /*Contact Page @media*/
  .contact-container {
    max-height: 90%;
    max-width: 40%;
  }
  .form-container {
    max-height: 50%;
  }
  .contact-form {
    max-height: 50%;
  }
  textarea {
    max-height: 50%;
    max-width: 50%;
  }
  input {
    max-width: 50%;
  }
  .map {
    display: none;
  }
}

@media (max-width: 428px){
  /*Home PAge @media*/
  h1 {
    font-size: 2rem;
  }
  #hero-page-arrow-down {
    font-size: 2rem;
    top: 85%;
    left: 48%;
  }
  .menu {
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }
  /*About Page @media*/
  .heading {
    font-size: 2rem;
  }

  /*Contact Page @media*/

  .contact-container {
    max-width: 100%;
  }

   /*Footer @media*/
   .f-grid-item {
    font-size: 3rem;
    padding-top: 55px;
  }
}

@media (max-width: 412px){
  h1 {
    font-size: 3rem;
  }
  #hero-page-arrow-down {
    font-size: 2rem;
    left: 50%;
  }
  .menu {
    padding: 10px;
  }
  /*About Page @media*/
  .heading {
    font-size: 2rem;
  }

  /*Contact Page @media*/

  .contact-container {
    max-width: 100%;
  }

   /*Footer @media*/
   .f-grid-item {
    font-size: 3rem;
    padding-top: 55px;
  }
}

@media (max-width: 390px) {

  /* Home Page @media*/
  h1 {
    font-size: 2rem;
  }
  #hero-page-arrow-down {
    font-size: 2rem;
    margin-left: 0.6rem;
    margin-top: 2rem;
    bottom: 50%;
    left: 46%;
  }
  .hero {
    min-height: 40%;
  }
  .menu {
    font-size: small;
    padding: 5px;
  }
  img {
    max-width: 78%;
  }

  /*About Page @media*/
  h2 {
    font-size: small;
    margin-top: 13%;
    margin-bottom: 12%;
  }
  .heading {
    font-size: 1.5rem;
  }
  .kristen-image {
    min-height: auto;
    min-width: 50%;
  }
  .about-page-container {
    align-items: center;
  }
  .about-me-paragraph {
    position: inherit;
  }
  .accordian-item {
    min-height: 20%;
    min-width: auto;
  }
  .accordian-link {
    font-size: small;
  }

  /* Contact Page @media */
  .contact-form {
    max-width: 100%;
  }
  .contact-container {
    max-width: 100%;
    max-height: fit-content;
  }
  .map {
    display: none;
  }
   /*Footer @media*/
   .f-grid-item {
    font-size: 3rem;
    padding-top: 55px;
  }
}

@media (max-width: 379px) {
  h1 {
    font-size: large;
  }
  #hero-page-arrow-down {
    font-size: 15px;
    margin-left: 0.6rem;
    margin-top: 2rem;
  }
  .hero {
    min-height: 40%;
  }
  .menu {
    font-size: small;
    padding: 10px;
  }
  h2 {
    font-size: small;
    margin-top: 13%;
    margin-bottom: 12%;
  }
  /*Contact Page @media*/
  .map {
    display: none;
  }
}

@media (max-width: 376px) {
  /*Home Page @media*/
  h1 {
    font-size: large;
  }
  #hero-page-arrow-down {
    font-size: 15px;
    margin-left: 0.6rem;
    margin-top: 2rem;
  }
  .hero {
    min-height: 40%;
  }
  .menu {
    font-size: small;
  }
  h2 {
    font-size: small;
    margin-top: 13%;
    margin-bottom: 12%;
  }
  /*About Page @media*/
  .kristen-image {
    min-height: auto;
    min-width: 50%;
  }
  .about-page-container {
    align-items: center;
  }
  .about-me-paragraph {
    position: inherit;
  }
  .accordian-link {
    font-size: small;
  }
  /* Contact Page @media*/
  .map {
    display: none;
  }
}

@media (max-width: 364px) {
  /*Home Page @media*/
  .hero {
    min-height: 25%;
  }
  h2 {
    font-size: small;
    margin-bottom: 15%;
    margin-top: 13%;
    border: 2px solid #bc6c25;
  }
  .menu {
    font-size: small;
  }
  h1 {
    font-size: 70%;
    padding-bottom: 5rem;
    margin-bottom: 25%;
  }
  #hero-page-arrow-down {
    font-size: medium;
    margin-top: 3rem;
  }
  /* about page @media*/
  .heading {
    font-size: larger;
    padding-top: 25%;
  }
  .kristen-image {
    min-height: auto;
    min-width: 55%;
  }
  .about-page-container {
    align-items: center;
  }
  .about-me-paragraph {
    position: inherit;
  }
  .accordian-link {
    font-size: small;
  }
  /* Contact Page @media*/
  .contact {
    max-height: 100%;
  }
  .form-container {
    max-height: 80%;
  }
  .contact-form {
    max-height: 75%;
    align-items: center;
  }
  .contact-container{
    max-height: 100%;
  }
  textarea {
    max-height: 50%;
    max-width: 75%;
  }
  .map {
    display: none;
  }
   /*Footer @media*/
   .f-grid-item {
    font-size: 3rem;
    padding-top: 55px;
  }
}

@media (max-width: 320px){

  /*Home Page @media*/

  img {
    max-width: 60%;
    border: 4px solid #dda15e;
  }

  /*About Page @media*/

  .about-page-container{
    max-width: 90%;
  }
  .about-me-paragraph {
    max-height: 40%;
  }
 
  /*Contact Page @media*/
  .contact {
    max-height: 100%;
    max-width: 80%;
  }
  .form-container {
    max-height: 30%;
  }
  textarea {
    max-height: 20%;
  }
  .contact-container{
    max-height: 100%;
    max-width: 100%;
  }
  /*Footer @media*/
  .f-grid-item {
    font-size: 3rem;
    padding-top: 55px;
  }
}